@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;600&display=swap");

:root {
  --primary-color: #b206b0;

  --secondary-color: #f7b71d;

  --third-color: #379956;

  --pale-yellow: #fcf4c4;

  --rose-orange: #f5587b;

  --box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);

  --title-font: "Andada Pro";

  --paragraph-font: JetBrains Mono;

  --link-decoration: none;

  --transitions: all 200ms ease-in-out;
}

h1 {
  font-size: 44px;
  text-align: center;
  font-family: var(--title-font), serif;
  padding-bottom: 30px;
}

h2 {
  line-height: 60px;
  font-family: var(--title-font), serif;
}

h3,
h4,
h5,
h6 {
  font-family: var(--title-font), serif;
}

p {
  font-family: var(--paragraph-font);
}

a {
  text-align: center;
  text-decoration: var(--link-decoration);
  color: var(--primary-color);
  transition: var(--transitions);
}

a:hover {
  color: var(--rose-orange);
  cursor: pointer;
}

button {
  font-family: var(--title-font), serif;
  font-size: 19px;
  font-weight: 300;
  padding: 17px 22px;
  color: white;
  margin: 20px;
  border-radius: 4px;
  border: 0px solid #f5587b;
  background: transparent;
  box-shadow: var(--box-shadow);
  transition: var(--transitions);
  text-align: center;
}

button:hover {
  cursor: pointer;
  color: var(--rose-orange);
}

.navbar {
  padding-top: 10px;
  padding-left: 40px;

  font-family: var(--paragraph-font);
  box-shadow: var(--box-shadow);
}

.navbar-toggler {
  margin: 5px;
}

.nav-item {
  padding: 0px 20px;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  margin: 30px 100px;
}

.presentation {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.learn-more {
  font-size: 22px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 80px;
}

.middle-page-subtitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 60px;
  margin-top: 80px;
  padding-bottom: 30px;
}

.about-me-picture {
  width: 80%;
  height: auto;
  justify-content: right;
}

.weatherapp {
  border: #d5d5d5 1px solid;
}

.text {
  text-align: left;
  padding: 0px 20px;
  line-height: 27px;
  font-family: var(--paragraph-font);
}

.col-md-6 {
  padding: 20px;
}

.project-cards,
.bottom-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottom-link-one,
.bottom-link-two {
  text-align: center;
  padding: 30px;
}

.bio {
  padding-left: 5px;
}

.project {
  padding: 37px;
}

.text-in-picture {
  padding: 30px 5px;
}

footer {
  border-color: grey;
  text-align: center;
  padding: 40px 0px;
  margin: 100px 0px 0px;
}

.socialmedia-icons {
  display: flex;
  padding-top: 20px;
  font-size: 19px;
  justify-content: center;
}

.icon {
  color: var(--third-color);
  padding: 20px;
}

.signature {
  font-size: smaller;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 40px;
}

@media (max-width: 414px) and (min-width: 281px) {
  h1 {
    font-size: 29px;
  }

  h2 {
    font-size: 26px;
    line-height: 43px;
  }

  a {
    text-decoration: underline;
  }

  footer {
    margin: 0px;
  }

  .main-wrap {
    margin: 40px 22px;
  }

  .learn-more {
    font-size: 17px;
  }

  .middle-page-subtitle {
    padding-top: 40px;
    margin-top: 40px;
  }

  .project {
    padding: 20px;
  }
}

@media (max-width: 280px) {
  h1 {
    font-size: 29px;
  }

  h2 {
    font-size: 26px;
    line-height: 43px;
  }

  p {
    font-size: 14px;
  }

  a {
    text-decoration: underline;
  }

  footer {
    margin: 0px;
  }

  .main-wrap {
    margin: 30px 10px;
  }

  .learn-more {
    font-size: 17px;
    text-decoration: underline;
  }

  .project-link {
    text-decoration: underline;
  }

  .project {
    padding: 20px;
  }

  .middle-page-subtitle {
    padding-top: 40px;
    margin-top: 40px;
  }

  .navbar-toggler {
    text-align: center;
  }

  .navbar-brand {
    display: none;
  }
}
